{% extends 'common_code/base.html' %}
{% block title %} Contact {% endblock title %}
{% load static %}


{% block content %}
</br></br>

    
<div class="card" >
    <img class="card-img-top" src="{% static 'images/contact.jpg'%}" alt="Card image cap" style="width: 90rem; height:100rem;">
    <div class="card-body">
      <h5 class="card-title">Send Us Message</h5>
      <p class="card-text">
        To enroll the course or any other query related to course module just send us message.</p>
      
    </div>
  </div>
  
    </br>      
    
{% endblock content %}








