@media (min-width: 1000px) {
    .carousel-item img {
        width: 100% !important;
        height: 350px;
        max-height: 600px;
    }
}

@media (min-width: 100px) {
    .card img {
        width: 100% !important;
        height: 170px;
        max-height: 600px;
    }
}

@media (min-width: 200px) {
    .col-md-4 img {
        width: 100% !important;
        height: 450px;
        max-height: 900px;
    }
}
