{% extends 'common_code/base.html' %}
{% block title %} About {% endblock title %}
{% load static %}

{% block content %}
</br></br>

    
    <div class="card mb-3" style="max-width: 1740px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'images/study_mart.jpg'%}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Our Mission</h5>
              <p class="card-text">
                We host live classes, enabling students to promptly address their questions to instructors. Each batch benefits from a dedicated Google Classroom, where aiQuest supplies relevant materials. Recognizing the value of real-time support, we also offer separate WhatsApp and Messenger chat groups for immediate assistance and interaction.

                AiQuest Intelligence, a top Bangladeshi edTech company founded by Rashedul Alam Shakil during his Data Science Master’s at FAU Erlangen-Nuremberg in 2021. AiQuest collaborates with students and non-technical individuals to provide online courses and degrees in Database, Data Analytics, Data Science, and Artificial Intelligence.

                At aiQuest Intelligence, our goal is to deliver top-notch education in data science, data analytics, and artificial intelligence throughout Bangladesh. We are committed to fostering a collaborative learning community where students can engage in fruitful discussions, address technical queries, and find solutions to challenges in Data Science and AI. Recognizing the limitations of traditional classroom training, we seamlessly blend theoretical instruction with practical, hands-on experience through our in-house projects, ensuring a comprehensive and enriched educational journey for our students.
                Our primary vision is to impart smart and effective teaching of data science. We strive to offer comprehensive and up-to-date training in various AI technologies, such as machine learning, natural language processing, computer vision, and robotics. Moreover, we aspire to collaborate with industry partners to provide ample career development opportunities and job placement services for our graduates.
            </p>
             
            </div>
          </div>
        </div>
      </div>

    </br>      
    
{% endblock content %}






