{% extends 'common_code/base.html' %}

{% block title %} Resources {% endblock title %}
{% load static%}


{% block content %}
</br></br>

    
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <a href="https://www.youtube.com/playlist?list=PLKdU0fuY4OFf7qj4eoBtvALAB_Ml2rN0V"> 
        <img src="{% static 'images/utube.png'%}" class="card-img-top" alt="...">
        </a>        
        <div class="card-body">
          <h5 class="card-title">Advanced Python</h5>
          <p class="card-text">Rashedul Alam Shakil is the instructor of this course.</p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://www.youtube.com/playlist?list=PLKdU0fuY4OFfo3VgywUFoAUY7Udi3_6V6
        "> 
            <img src="{% static 'images/utube.png'%}" class="card-img-top" alt="...">
        </a> 
        <div class="card-body">
          <h5 class="card-title">Django</h5>
          <p class="card-text">Abu Noman Bashar is the instructor of this course.</p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://www.youtube.com/playlist?list=PLKdU0fuY4OFfWY36nDJDlI26jXwInSm8f"> 
            <img src="{% static 'images/utube.png'%}" class="card-img-top" alt="...">
        </a> 
        <div class="card-body">
          <h5 class="card-title">Machine Learning</h5>
          <p class="card-text">Rashedul Alam Shakil is the instructor of this course.</p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <a href="https://www.youtube.com/playlist?list=PLKdU0fuY4OFdFUCFcUp-7VD4bLXr50hgb"> 
              <img src="{% static 'images/utube.png'%}" class="card-img-top" alt="...">
          </a> 
          <div class="card-body">
            <h5 class="card-title">Deep Learning</h5>
            <p class="card-text">Mr Mejbah is the instructor of this course.</p>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
  </div>
    </br>
    <h4>More resources coming soon...</h4>      
    
{% endblock content %}








